article, body, div, figcaption, footer, header, h1, h2, img, 
li, nav, section, p, table, tbody, thead, td, th, tr {
	border: 0;
	padding: 0;
	margin: 0;
}
ul {
   list-style-type: none;
}
body{
    margin: 0 auto;
    font-size: 1em;
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: 0.15em;
    background-color: #EFEFEF;
}
/* #page{
    margin: 10px auto 10px auto;
    padding: 20px;
    border: 4px double #000;
    background-color: #FFFFFF;
} */
.sunnmoon{
    text-align: center;
    padding-top: 25px;
}

/* skip navigation */
p.skipnavigation a{
	position: absolute;
	left: -10000px;
}
p.skipnavigation a:focus {
	color: #34180f;
	background-color: #D3D3D3;
	top: 0.2em;
	left: 0.4em;
	z-index: 2;
}
/* site navigation bar */
nav.sitenavigation {
    color: 	#000000;
    text-align: center;
    border-top: 1px solid #000000;
    border-bottom: 2px solid #000000;
}
div.navigation-menu-button{
    float: right;
    margin-top: -7em;
    margin-right: -1em;
    position: relative;
}
nav.sitenavigation ul {
    border: 3px solid #34180f;
    display: none;
    background-color: #ffffff;
    position: absolute;
    right: 0;
    z-index: 5;
}
nav.sitenavigation li {
    padding: 0.3em;
    font-size: 2em;
    color: 	#FFFFFF;
}
nav.sitenavigation a:link{
    text-decoration: none;
    color: #34180f;
}
nav.sitenavigation a:visited {
    color: 	#D3D3D3;
}
nav.sitenavigation a:hover, nav.sitenavigation a:focus {
    color: 	#D3D3D3;
}
/* main content */
article {
    width: 100%;
    background-color: #FFFFFF;
    text-align: left;
}
article p {
    padding: 0 1em 1em;
}
article figure{
    display: inline-block;
}
article figcaption {
    text-align: center;
    font-size: 1.3em;
}
#slider{
    display: none;
}
.nivo-controlNav {
    display: none;
}
/*standard screen styles*/
@media screen and (min-width: 480px) {
    #slider {
        display: block;
        max-width:800px;
        max-height:601px;
    }
    .nivo-controlNav {
        display: block;
    }
}	
@media screen and (min-width: 800px) {
    article {
        padding: 2%;
    }
    div.navigation-menu-button {
        display: none;
    }
    nav.sitenavigation {
        width: 100%;
        padding: 0;
        top: 8em;
    }
    nav.sitenavigation ul {
        border: none;
        width: 100%;
        display: block;
        position: static;
        text-align: center;
        background-color: 	#FFFFFF;
    }
    nav.sitenavigation li {
        display: inline-block;
    }
    nav.sitenavigation a:visited {
        color: 	#9999ff;
    }
}